---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    ChatGPT Google 版
  </div>
  <p mt-1 op-60>
    Google Gemini 中文版 免费网页版
  </p>
</header>
